<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
    <sectionGroup name="jayrock">
      <sectionGroup name="jsonrpc">
        <section name="features" type="Jayrock.JsonRpc.Web.JsonRpcFeaturesSectionHandler, Jayrock" />
      </sectionGroup>
    </sectionGroup>
    <!-- 2009.07.21 -->
    <section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter" />

  </configSections>


  <!-- 2009.07.21 -->


  <rewriter>
    <rewrite url="~/(.+)/(.+).aspx" to="~/$2.aspx?DDirectory=$1" />
  </rewriter>


  <appSettings>

    <add key="PROXYRPCURL" value="https://0.0.0.0:8088/json/rpc" />
    
    <add key="Website" value="main.aspx"/>
    <!-- StevenY 2009.4.9 -->
    <add key="CallingCardPortalSkin" value="Forest"/>
    <add key="CustomerPortalSkin" value="Sunset"/>


    <add key="ShowAmountDropDownWholesale" value="true" />

    <!-- 2009.4.1 StevenY -->
    <add key ="CaptchaDigits" value="3" />
    <add key ="ContinueShoppingRedirectionpage" value="main.aspx"/>
    <add key="langpath" value="c:\\inetpub\\wwwroot\\softswitch\\Language\\lang.xml"/>

    <!-- 2009.3.31 E911 Setting-->
    <add key ="E911_CompanyID" value ="TEST"/>
    <add key ="E911_KeyNum" value ="0"/>
    <!-- ussualy uses 0-->
    <add key ="E911_Key" value ="TEST"/>


    <!-- 2009.3.26 StevenY -->

    <add key="Use_Global_Pops" value="false"/>
    <add key="API_GlobalPops_url" value="http://www.loginto.us/GPMS/api.pl"/>
    <add key="API_GlobalPops_username" value="ipsmarx"/>
    <add key="API_GlobalPops_password" value="ipsmarx"/>
    <add key="API_GlobalPops_EndPointGroupID" value="204"/>
    <add key="API_GlobalPops_providerID" value="999"/>

    <!-- 2009.1.30 StevenY Json Email setting-->
    <add key="JsonEmailAgentURL" value="http://localhost:808/json/email"/>
    <add key="JsonEmailServerIP" value="smtp.gmail.com"/>
    <add key="JsonEmailProtocol" value="TLS"/>
    <add key="JsonEmailServerUser" value=""/>
    <add key="JsonEmailServerPassword" value=""/>
    <add key="port" value="25"/>
    <!-- value can be 1/2/3 : Successful/Failed/All-->
    <add key="PaymentNotification" value="3"/>

    <add key="GeoIP.dat" value="~/App_Data/GeoIP.dat"/>

    <add key="AuthorizeNetShowAddress" value="false"/>

    <add key="currency_symbol" value="$"/>

    <!-- The url of the softswitch add-on -->
    <!-- add key="ss_addon_url" value="../../sspayment/payment.aspx"/ -->
    
    <add key="ShowAmountDropDown" value="true"/>
    <add key="TxtBoxPaymentMin" value="0"/>
    <add key="TxtBoxPaymentMax" value="5000"/>
    <add key="DefPurchaseAmount" value="5"/>
    <add key="DefPurchaseAmountWholesale" value="5"/>

	<add key="ServerName" value="localhost"/>
	<add key="DatabaseName" value="nwholesale"/>
	<add key="UserID" value="root"/>
	<add key="Password" value="fi6XqRhb5FojVvHp4VhHjg=="/>
	  
    <add key="ConnectionString" value="Data Source='0.0.0.0';UserID='root';password='fi6XqRhb5FojVvHp4VhHjg==';Database='nwholesale'"/>
   
	<add key="business" value="banshi_desi@yahoo.ca"/>
    <add key="at" value="lspxpTgM9BKiDY45_xMr7MvBSkdDYjE14penQX1ZYGLR6MWME_p2pIZ1pJq"/>
    <add key="DestServer" value="https://www.paypal.com/cgi-bin/webscr"/>
    <add key="currency_code" value="USD"/>
    <add key="CurrencySymbol" value="$"/>

    <add key="EmailFrom" value="test@test.com"/>
    <add key="Card_Email_Subject" value="New Deposit"/>
    <add key="Cust_Email_Subject" value="New Pin"/>
    <add key="NEW_CUST_Email_Subject" value="Customer Registration"/>
    <add key="Enable_Tax" value="false"/>
    <add key="USE_NEW_MYSQLDLL" value="Y"/>
    <add key="ENCRYPTION" value="SHA1"/>
    <add key="PinSize" value="10"/>
    <add key="Testing" value="false"/>
    <add key="PaymentGateway" value="AuthorizeNet"/>
    <add key="ActivateCardsOnPayment" value="true"/>
    <add key="Email_Enable" value="true"/>
    <add key="Allow_CreditCard" value="true"/>
    <add key="Allow_Paypal" value="true"/>
    <add key="Allow_Google" value="true"/>
    <add key="MaxLoginAttempts" value="3"/>

  </appSettings>

  <system.web>
    <!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application. 
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP .NET files.
		  
    -->
    <compilation defaultLanguage="c#" debug="true">
      <assemblies>
        <add assembly="Coalesys.PanelBar, Version=4.0.92.1, Culture=neutral, PublicKeyToken=3c85914aca6a0634"/>
        <add assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Drawing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices.Protocols, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.EnterpriseServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.ServiceProcess, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.RegularExpressions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Drawing.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions.Design, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <!--  CUSTOM ERROR MESSAGES
          Set customError mode values to control the display of user-friendly 
          error messages to users instead of error details (including a stack trace):

          "On" Always display custom (friendly) messages  
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
          on the local Web server. This setting is recommended for security purposes, so 
          that you do not display application detail information to remote clients.
    -->
    <customErrors mode="Off"/>
    <!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", "Forms", 
          "Passport" and "None"
    -->
    <authentication mode="Windows"/>
    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <!--  SESSION STATE SETTINGS
          By default ASP .NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" timeout="20"/>
    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
    <httpHandlers>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false"/>
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false"/>
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>

      <!-- 2009.07.21 -->
      <add type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter"
              name="UrlRewriter" />
    </httpModules>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="auto:en-US" uiCulture="auto:en-US"/>
    <!-- 
    <globalization requestEncoding="gb2312" fileEncoding="gb2312"  responseEncoding="gb2312" culture="auto:en-US" uiCulture="auto:en-US" />
    -->
    <!--2008.12.24 StevenY added -->
    <pages styleSheetTheme="General">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="ajaxIPSmarx"/>
        <add namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" tagPrefix="WebCtlIpsmarx"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </controls>
    </pages>
    <!--2008.12.24 StevenY added done. -->
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ScriptModule"/>
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>

      <!-- 2009.07.21 -->
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter" />
    </modules>
    <handlers>
      <remove name="ScriptHandlerFactory"/>
      <remove name="ScriptHandlerFactoryAppServices"/>
      <remove name="ScriptResource"/>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource"/>
      <add name="Telerik_Web_UI_DialogHandler_aspx" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler"/>
    </handlers>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="0.0.0.0"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
